* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-event-btn {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: aliceblue;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 230, 230);
  border: 3px solid #270854;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.login-modal form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.login-modal form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.login-modal form div input {
  padding: 4px
}

.inputs-login {
  border: 4px solid !important;
  border-image: linear-gradient(135deg, #14D498 0%,#5410BC 100%) 1 !important;
}

.submit-button {
  width: 20vw;
  height: 5vh;
  background-image: linear-gradient(135deg,#14D498,#5410BC);
  border: none;
  color:rgb(230, 230, 230);
  font-size: 3vh;
}

.register-btn {
  background-color: #1A8E6B;
  height: 7vh;
}