@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Norican&display=swap');

.App {
  text-align: center;
}

.header-div {
  height: 15vh;
  background-image: url('./images/minas_img.png');
  background-size: cover;
  background-position-y: 20%;
  background-position-x: center;
  height: 20vh;
  display: flex;
}

.title {
  align-items: center;
  display: flex;
  font-size: 10vh;
  font-family: 'Norican', cursive !important;
  text-align: center;
  margin: 0;
  width: 65vw;
  justify-content: flex-end;
}

.subtitle {
  display: flex;
  font-size: 3vh;
  text-align: center;
  margin: 12vh 2vw 0;
  width: 35vw;
}

.img-header {
  display: block;
  width: 100vw;
  height: 15vh;
}
